<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/CSS/slo.CSS">
</head>
<body>
    <div class="container">
        <div class="sub2">
            <center><h1>VOTER LOGIN</h1></center>
            <form name="form1" action="/validate" onsubmit="return required()" method="POST">
                <div><input type="text" id="uname" name="uname" placeholder="Username"></div><br>
                <div><input type="text" id="email" name="Email" placeholder="Email"></div><br>
                <div><input type="password" id="pd" name="password" placeholder="Password"></div><br>
                <label for="AADHAR">Enter your aadhar number</label><br><br>
               <input type="tel" id="aad" name="aad" placeholder="5555 6666 7777" pattern="[0-9]{4} [0-9]{4} [0-9]{4}" required ><br><br>
               <center>
                <input type="submit" value="Login" id="submit" placeholder="Login">
               <input type="reset" value="Reset"id="reset" placeholder="Reset">
               
            </center>
            
            </form>
        </div>
        
    </div>
    <script>
  function required()
{

var uname=document.forms["form1"]["uname"].value;
var empt = document.forms["form1"]["pd"].value;
var e = document.forms["form1"]["email"].value;
var aad=document.forms["form1"]["aad"].value;
if(uname==""||empt==""||e==""|| aad=="")
    {
        alert("FILL EVERY FIELDS!!");
        return false;
    }
    var regName = /^[a-zA-Z]+$/;
      if(!regName.test(uname)){
        alert('Name should contains only alphabets!!!');
    }
    
    var em=/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
      if(!em.test(e)){
    alert("INVALID EMAIL");
      }









if ((uname=="Manisha")&&(empt == "manishajs")&&(e == "manisha@gmail.com"))
{
alert("LOGIN SUCCESSFUL");
return true;
}
else if((uname=="Mythu")&&(empt="mythujs")&&(e=="mythu@gmail.com"))

    {
alert("LOGIN SUCCESSFUL");
return true;
}
else if((uname=="Mugil")&&(empt="mugiljs")&&(e=="mugil@gmail.com"))

{
alert("LOGIN SUCCESSFUL");
return true;
}
else if((uname=="sne")&&(empt="snejs")&&(e=="sne@gmail.com"))

    {
alert("LOGIN SUCCESSFUL");
return true;
}
else if((uname=="sar")&&(empt="sarjs")&&(e=="sar@gmail.com"))

    {
alert("LOGIN SUCCESSFUL");
return true;
}
else 
{
alert('check your email and password');
return false; 
}
}  


    </script>
        </body>
</html>