<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/CSS/ms.css">
</head>
<body>
    <center>
        <form name="form2"action="/vali"  method="POST">
    <div class="table data" id="flex-container">
        <p class=p1><h1>The vote is precious.</h1><br>
        <h1> It is the most powerful non-violent tool we have in a democratic society, and we must use it.</h1></p>
        <h2><div>VOTE :<br><br>
            <input type="radio" id="one" name="vote"  value="ID1">CANDIDATE 1<br><br>
            <input type="radio" id="two"  name="vote" value="ID2">CANDIDATE 2<br><br>
            <input type="radio" id="three"  name="vote" value="ID3">CANDIDATE 3<br><br>
      </div><br>  </h2> 
      <input type="submit" value="VOTE" id="submit" placeholder="VOTE">
        </div>
    </div>
        </form>

</center>


</body>
</html>
