body{

background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);



  
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
    background-color:#c2eaf5;

    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    border-radius:10px;
}
img{
    height:400px;
    width:400px;
}
.sub1{
    padding:15px;
}
.sub2{
    padding:15px;
}
#uname,#rono,#email,#pd,#cpd,#aad{
    border:double black;
    background-color:white;
     width:90%;
    padding:5px;
    border-radius:10px;
}
::placeholder{
    
    color:black;
}
#submit{
    padding:5px;
    background-color:rgb(124, 218, 241);
    border-radius: 7px;
    color:black;
}
#reset{
    padding:5px;
    background-color:rgb(124, 218, 241);
    border-radius: 7px;
    color:black;
}
.b1
{
    margin-right: 20px;
}